<!DOCTYPE html>
<html ng-app="<%= appName %>" ng-controller="CmsCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@lrdesign">
    <meta name="twitter:title" content="LRD Website">
    <meta name="twitter:description" content="Logical Reality. Startups. Apps. Websites. Code is in our genes.">
    <meta name="twitter:creator" content="@lrdesign">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="LRD Website" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://lrdesign.com" />
    <meta property="og:description" content="Logical Reality. Startups. Apps. Websites. Code is in our genes.">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>


  </head>
  <body>
    <admin-only>
      <admin-nav></admin-nav>
    </admin-only>
    <div id="inset">
      <div id="wrapper">
        <div id="header">
          <navigation-bar></navigation-bar>
        </div>
        <div id="content-wrap">
          <flash></flash>
          <div id="content" ui-view="main">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
