$admin_menu_height: 20px;

body.with_admin #inset {
  margin-top: $admin_menu_height;
}

#admin_tools {
  width: 100%;
  font-size: 11px;
  color: white;
  height: $admin_menu_height;
  border-bottom: 1px solid black;
  padding: 5px;
  font-family: Helvetica, Arial, sans-serif;
  height: 20px;

  background: $admin_background_color;
  // TODO:  why can't i get any compass mixins to work?
  /*@include background-image(linear-gradient(white, #cccccc, #aaaaaa));*/
  h3 {
    float: left;
    margin: 0 1em 0 0;
    font-size: 11px;
    font-weight: bold;
  }
  ul {
    list-style: none;
    margin: 0;
    padding-bottom: 5px;
  }
  li {
    list-style: none;
    display: block;
    float: left;
    margin-right: 1em;
    a {
      color: white;
    }
    a:hover {
      color: #ffff66;
    }
    form {
      margin: 0 0 0 0;
      padding: 0;
      border: 0;
      background: transparent;
    }
    form div input[type='submit'] {
      font-size: 10px;
    }
  }
}

.admin_tool, .admin_tool a {
  background: $admin_background_color;
  color: white;
  padding: 5px;
}

.admin_tool:hover, admin_tool a:hover {
  color: #ffff66;
}
