.froala-box
  border: 1px solid #ccc
  background: #eee

  &:before
    @include background(linear-gradient(white, #cccccc, #aaaaaa))
    content: "Click to edit"
    font-size: 10px
    padding: 2px
    display: block
    font-weight: normal



