ul.stories-anchors {
  margin-bottom: 3em;
  li {
    line-height: 3em;
    display: inline-block;
  }
}

.featured-projects {
  padding-top: 1em;
  margin-bottom: 3em;

  li a{
    font-size: 1.2em;
    border-bottom: 4px solid white;
  }

}

.past-clients {
  li {
    padding: .1em;
    margin-top: .3em;
    margin-bottom: .3em;
    display: inline-block;
    font-size: .7em;
    letter-spacing: .3em;
    font-family: $font_header;
    border: 1px solid black;
    border-radius: 3px;
    padding: 15px;
    background-color: $contact_button_color;
    color: $font_color_main;
  }
}

.article-body {
  h2 {
    font-size: 1.5em;
  }
  h3 {
    border-bottom: 4px solid white;
  }
}
.story{
  margin-top: 5em;
  margin-bottom: 4em;

  p {
    margin-bottom: 2.5em;
  }
}