=control-button($color, $text-color)
  $first-color: adjust-lightness($color, 5%)
  $second-color: adjust-lightness($color, -5%)
  $darker-color: adjust-lightness($color, -10%)
  +sassy-button("matte", 5px, 12px, $first-color, $second-color, $text-color, "inset")

  &.selected
    @include sassy-button-style("inset", $darker-color)


#item-detail
  +clearfix
  margin-top: 2em

.menu
  margin: 0 2em
  button.collapse.control.ng-hide
    display: inline-block !important
    border: 0
    height: 0
    box-shadow: none
    padding: 0
    width: 50px
  .collapse.control
    width: 50px
    border-width: 0
    background: none
  .edit.control
    +control-button(#9ac, white)
  .remove.control
    +control-button(#c99, white)
  .add.control
    +control-button(#9ca, white)
  .icon-spacer
    +control-button(white, white)
  .name
    display: inline-block
    margin-top: 3px

#item-detail
  +clearfix
  margin-top: 2em

.angular-ui-tree-empty
  border: 1px dashed #bbb
  min-height: 100px
  background-color: #e5e5e5
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff)
  background-size: 60px 60px
  background-position: 0 0, 30px 30px

.angular-ui-tree-nodes
  display: block
  position: relative
  margin: 3px
  padding: 0px
  list-style: none

.angular-ui-tree-nodes .angular-ui-tree-nodes
  padding-left: 20px

.angular-ui-tree-node, .angular-ui-tree-placeholder
  display: block
  position: relative
  margin: 0px
  padding: 0px
  min-height: 20px
  line-height: 20px

.angular-ui-tree-hidden
  display: none


.angular-ui-tree-placeholder
  $placeholder-outset: 10px
  min-height: 30px
  border: 2px dotted darkgray
  padding: $placeholder-outset
  border-radius: $placeholder-outset

ul .angular-ui-tree-placeholder
  margin-left: 2em
ul ul .angular-ui-tree-placeholder
  margin-left: 4em
ul ul ul .angular-ui-tree-placeholder
  margin-left: 6em
ul ul ul ul .angular-ui-tree-placeholder
  margin-left: 8em
ul ul ul ul ul .angular-ui-tree-placeholder
  margin-left: 10em
ul ul ul ul ul ul .angular-ui-tree-placeholder
  margin-left: 12em

.angular-ui-tree-handle
  .name
    padding: 0.5em 0.75em
    +box-shadow(2px 2px 2px 0px #ccc, -1px 1px 2px 0px #ccc)
  cursor: pointer
  text-decoration: none
  font-weight: bold
  +box-sizing(border-box)
  min-height: 20px
  line-height: 20px
  margin: 0.2em 0

.angular-ui-tree-drag
  button.control
    display: none
  .name
    padding: 0.5em 0.75em
    +box-shadow(8px 8px 2px 0px #ccc)
    background: white
    opacity: 1.0
  position: absolute
  pointer-events: none
  z-index: 999
  opacity: .8
