@include sgs-change('include clearfix', true);

* {
  @include box-sizing('border-box');
}
body {
  background-color: #67c;
  font-family: sans-serif;
}

#wrap {
  background-color: white;
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 1em;

}
#root {
  padding: 1em gutter-span();
  &:after {
    @include clearfix
  }
}
#root {
  @include add-grid(12);
  @include add-gutter(1/3);
  @include sgs-change('output', 'isolation');
  /*@include sgs-change('debug', true);*/
  /*@include background-grid($color: #6ff);*/
}
