$topbar-link-padding: 10px;

@mixin hamburger($width, $left, $top, $thickness, $gap, $color, $hover-color, $offcanvas) {
  position: relative;
  padding-right: $width + $topbar-link-padding*2;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 0;

    @if $offcanvas {
      @if $top {
        top: $top;
      }
      @else {
        top: 50%;
        margin-top: -$width/2;
      }
      @if $left {
        left: $left;
      }
      @else {
        left: ($tabbar-menu-icon-width - $width)/2;
      }
    }
    @else {
      top: 50%;
      margin-top: -($width/2);
      right: $topbar-link-padding;
    }

    box-shadow:
      0 0px 0 $thickness $color,
      0 $gap + $thickness 0 $thickness $color,
      0 (2 * $gap + 2*$thickness) 0 $thickness $color;
    width: $width;
  }
  &:hover:after {
    box-shadow:
      0 0px 0 $thickness $hover-color,
      0 $gap + $thickness 0 $thickness $hover-color,
      0 (2 * $gap + 2*$thickness) 0 $thickness $hover-color;
  }
}

.nav-toggle {

  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  & {
    @include hamburger(16px, false, 0, 1px, 6px, black, black, false);
  }
}

.nav-collapse {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
  list-style: none;

  @include breakpoint($medium) {
    overflow: visible !important;
  }

  lrd-navbar {
    display: block;
  }

  lrd-navbar:after {
    @include clearfix();
  }

  lrd-session-links {
    display: block;
  }

  lrd-session-links:after {
    @include clearfix();
  }

  a {
    display: block;
    width: 10em;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  @include breakpoint($medium) {
    lrd-navbar {
      float: left;
    }
    lrd-session-links {
      float: right;
    }
    li {
      float: left;
      width: 10em !important;
      padding: 0.25ex;
    }
    li ul {
      position: absolute;
      width: 10em;
      left: -9999em;
    }
    li:hover ul {
      left: auto;
      background: white
    }
  }
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
