h1{
  text-align: center;}
.study-list{
  display: block;
  position: relative;
  background-color: rgb(173,221,54);
  width: 60%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;}
form.study-item{
  width: 100%;}
.screener-question{
  display: block;
  position: relative;
  font-size: 110%;
  font-weight: bold;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(173,221,54);
  border-radius: 10px;
  .main, .answer{
    width: 48%;}
  .main{
    float: left;
    .text span{
      display: block;}
    .text textarea{
      width: 90%;
      height: 5em;}}
  .answer{
    float: right;}
  .clearfix{
    height: 1px;
    margin: 0;
    padding: 0;
    clear: both;}
  .screener-option{
    font-size: 100%;}}
.center-button{
  width: 150px;
  margin: 0 auto;}