.screener-question{
  display: block;
  font-size: 110%;
  font-weight: bold;
  border: 1px solid black;
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
  .main, .answer{
    width: 48%;}
  .main{
    float: left;
    .text span{
      display: block;}
    .text textarea{
      width: 90%;
      height: 5em;}}
  .answer{
    float: right;}
  .clearfix{
    height: 1px;
    margin: 0;
    padding: 0;
    clear: both;}
  .screener-option{
    font-size: 100%;}}