<h1>Reset Your Password</h1>

<form id='passwords-update-form'>

    <label for="password">New Password:</label>
    <input type="password" name="password" ng-model="passwordUpdate.password" placeholder="New Password" />
    <span class='comment'></span>

    <label for="password-confirmation">Confirm New Password:</label>
    <input type="password" name="password-confirmation" ng-model="passwordUpdate.passwordConfirmation" placeholder="New Password" />
    <span class='comment'></span>

    <button type="submit" ng-click="passwordUpdateSubmit()">Update Password</button>

</form>
