<div ng-include="template">
</div>
<!-- pages.tpl -->
<admin-only>
  <form>
    <label>
      Title
      <input ng-model="page.title"></input>
    </label>
    <label>
      Headline
      <input ng-model="page.headline"></input>
    </label>
    <label>
      Keywords
      <input ng-model="page.keywords"></input>
    </label>
    <label>
      Description
      <input ng-model="page.description"></input>
    </label>
    <label>
      Styles
      <input ng-model="page.styles"></input>
    </label>
    <label>
      <input ng-model="page.publishStart" type="date" />
    </label>
    <label>
      <input ng-model="page.publishEnd" type="date" />
    </label>
    <label>
      <input ng-model="page.urlSlug" />
    </label>
  </form>
</admin-only>
